/* General Settings */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* content Styles */
content {
    background-color: hotpink;

    height: 1024px;
    width: 900px;

    margin: 20px;
}

h1 {

    font-family: 'Jua', sans-serif;
    font-size: 40px;

    display: flex;
    justify-content: center;
}

/* Form styles */
form {
    height: 502px;
    width: 901px;
    margin-top: 5px;

    /* background-color: blueviolet; */
    border: solid black 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 502px;
    width: 901px;

    /* background-color: blue; */
    border: solid black 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* END */